<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="icon" href="/static/img/weather.png">

        <title>Weather</title>

    </head>

    <body>

        {{>header}}
        
        <div class="main">

            <p>A site to serve all your weather needs!</p>

            <form class="form">

                <input placeholder="Location">

                <select id="units">

                    <option value="c">°C</option>
                    <option value="f">°F</option>

                </select>

                <button>Search</button>

            </form>

            <p id="title__main" class="location"></p>

            <p id="summary"></p>
            <p id="currently__temp"></p>
            <p id= "currently__precip"></p>


        </div>

        <script src="/static/js/app.js"></script>

    </body>

</html>