@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap');
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700");

* { box-sizing: border-box }

body {

    font-family: 'Montserrat';

}

#title {

    font-size: 12vmin;
    font-family: 'IBM Plex Sans';
    color: white;
    padding-left: 10vw;
    padding-top: 4vh;

}

header {

    background: linear-gradient(128deg, #1659ff 0%, #3fb8fb 100%);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
    margin: 0;

}

.main {

    position: absolute;
    display: block;
    top: 45vh;
    padding-left: 10vw;

}

input {

    border: 1px solid #cccccc;
    padding: 8px;
    font-family: 'Montserrat'

}

#units {

    border: 1px solid #cccccc;
    padding: 7.5px;
    font-family: 'Montserrat'

}

button {

    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    font-family: 'Montserrat';

}

.location {
    color: #888888;
}